export EDITOR="nano"

# larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# make some commands not show up in history.
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# prefer english and use utf-8.
export LANG="en_AU"
export LC_ALL="en_AU.UTF-8"

# highlight section titles in manual pages.
export LESS_TERMCAP_md="$ORANGE"

# don’t clear the screen after quitting a manual page.
export MANPAGER="less -X"

# always enable colored `grep` output.
export GREP_OPTIONS="--color=auto"

# link homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# node.js exports.
export NODE_PATH="/usr/local/lib/node"

# VirtualBox sometimes doesn't initialise correctly
# https://forums.virtualbox.org/viewtopic.php?p=265924&sid=2c3654fc57deefee0b8b00c8644a51b1#p265924
# sudo /Library/StartupItems/VirtualBox/VirtualBox restart
