[user]
  name = Viren Ratan
  email = viren@viren.com.au

[credential]
	helper = osxkeychain

[gpg]
	# program = /usr/local/MacGPG2/bin/gpg2
	format = ssh

[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[core]
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
	editor = nano

# rewrites of repo paths
[url "git@github.com:"]
  insteadOf = "https://github.com/"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
  pushInsteadOf = "https://github.com/"

[url "git://github.com/"]
  insteadOf = "github:"

[url "git@gist.github.com:"]
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
  insteadOf = "gist:"

# correct typos
[help]
  autocorrect = 1

# push easily. http://stackoverflow.com/a/23918418/89484
[push]
  default = current
  followTags = true

# use separate file for username / github token / etc
[include]
  path = ~/.gitconfig.local

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
  required = true
	process = git-lfs filter-process

[fetch]
  prune = true
[diff]
  compactionHeuristic = true
    # show blocks of moved text of at least 20 alphanumeric characters differently than adds/deletes
    # https://blog.github.com/2018-04-05-git-217-released/
    colorMoved = zebra
[stash]
  showPatch = true
[log]
  date = relative

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustexitcode = true
