# git credential file.
.gitconfig.local
*.patch

# folder view configuration files.
.DS_Store
Desktop.ini

# thumbnail cache files.
._*
Thumbs.db

# files that might appear on external disks.
.Spotlight-V100
.Trashes

# node.
.nvmrc
node_modules
npm-debug.log
yarn-error.log

# compiled python files.
*.pyc

# webstorm.
.idea/

# vs code.
typings/
.vscode

# eslint.
.eslintcache
