## SMARTER TAB-COMPLETION (Readline bindings) ##

# perform file completion in a case insensitive fashion.
set completion-ignore-case on

# treat hyphens and underscores as equivalent.
set completion-map-case on

# display matches for ambiguous patterns at first tab press.
set show-all-if-ambiguous on

# immediately add a trailing slash when autocompleting symlinks to directories.
set mark-symlinked-directories on

# use the text that has already been typed as the prefix for searching through
# commands (basically more intelligent up/down behavior).
"\e[A": history-search-backward
"\e[B": history-search-forward

# do not autocomplete hidden files unless the pattern explicitly begins with a dot.
set match-hidden-files off

# show all autocomplete results at once.
set page-completions off

# if there are more than 200 possible completions for a word, ask to show them all.
set completion-query-items 200

# show extra file information when completing, like `ls -F` does.
set visible-stats on

# be more intelligent when autocompleting by also looking at the text after
# the cursor.
set skip-completed-text on

# allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'.
set input-meta on
set output-meta on
set convert-meta off

# use Alt/Meta + Delete to delete the preceding word.
"\e[3;3~": kill-word
